/**/node_modules/
/**/package-lock.json

/BunnyHat/

/BinExp/gdb-gef/

/PrivEsc/linpeas.sh
/PrivEsc/linux-exploit-suggester/
/PrivEsc/les.sh
/PrivEsc/pspy32
/PrivEsc/pspy64
/PrivEsc/wesng/
/PrivEsc/wes.py
/PrivEsc/winPEASany.exe

/Post/

/Report/AutoRePort/AutoRePort.js