/**/node_modules/
/**/package-lock.json

/BinExp/gdb-gef/

/Disco/AutoRecon/

/PrivEsc/linpeas.sh
/PrivEsc/pspy32
/PrivEsc/pspy64
/PrivEsc/winpeas.exe

/Post/BunnyHat
/Post/Empire
/Post/nishang
/Post/PowerSploit
/Post/Sysinternals

/Report/AutoRePort/AutoRePort.js